<div *ngIf="requester">
    <div>
        <label>Patient Name: </label> {{requester.patientName}}
    </div>
    <div>
        <label>Required BloodGroup: </label> {{requester.requiredBloodGroup}}
    </div>
    <div>
        <label>City: </label> {{requester.city}}
    </div>
    <div>
        <label>Contact Name: </label> {{requester.contactName}}
    </div>
    <button mat-raised-button><a class="button is-small btn-info" (click)="acceptRequester()">Accept Request</a></button>
    <button mat-raised-button><a class="button is-small btn-info" (click)="rejectRequester()">Reject Request</a></button>
    <hr/>
</div>