<h2>Requester Services</h2> 
<div> 
  <img class="img-responsive" src="assets/Home.jpg">
  <button mat-raised-button><a routerLink="/rreg" role="button">REQUESTER REGISTER</a></button>
  <button mat-raised-button><a routerLink="/rstatus" role="button">REQUESTER STAUS</a></button>
  <button mat-raised-button><a routerLink="/rcheck" role="button">CHECK AVAILABILITY</a></button>


</div> 