<div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="requesterId">requesterId</label>
        <input type="text" class="form-control" id="requesterId" required [(ngModel)]="requesterId" name="requesterId">
      </div>
   
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
</div>
  <br/>
  <div>
      <table class="table table-striped">
          <thead>
              <tr>
               <th>Donor ID</th>
                <th>Patient Name</th>
                <th>Required BloodGroup</th>
                <th>city</th>
                <th>Status</th>
              </tr>
            </thead>
      <tbody>
        <tr>
          <td>{{requester.requesterId}}</td>
          <td>{{requester.patientName}}</td>
          <td>{{requester.requiredBloodGroup}}</td>
          <td>{{requester.city}}</td>
          <td>{{requester.status}}</td>
        </tr>
      </tbody>
      </table>
      </div>

      