<h3>Donor Registration Form</h3>
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()" #donorform="ngForm">
    <div class="form-group">
      <label for=" firstName"> firstName</label>
      <input type="text" class="form-control"  required [(ngModel)]="donor.firstName" name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
      <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">firstname is required</small>
    </div>
    <div class="form-group">
        <label for="lastName">lastname</label>
        <input type="text" class="form-control"  required [(ngModel)]="donor.lastName" name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
        <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">lastname is required</small>
      </div>
      <div class="form-group">
        <label for="city">city</label>
        <input type="text" class="form-control"  required [(ngModel)]="donor.city" name="city" #city="ngModel" [class.is-invalid]="city.invalid && city.touched">
        <small class="text-danger" [class.d-none]="city.valid || city.untouched">city is required</small>
      </div>
      <div class="form-group">
        <label for="timeOfTheDay">timeofday</label>
        <input type="date" class="form-control"  required [(ngModel)]="donor.timeOfTheDay" name="timeOfTheDay" #timeOfTheDay="ngModel" [class.is-invalid]="timeOfTheDay.invalid && timeOfTheDay.touched">
        <small class="text-danger" [class.d-none]="timeOfTheDay.valid || timeOfTheDay.untouched">timeOfTheDay is required</small>
      </div>
      <div class="form-group">
        <label for="bloodGroup">bloodgroup</label>
        <select id="bloodGroup" name="bloodGroup" required [(ngModel)]="donor.bloodGroup"  #bloodGroup="ngModel">
        <option >O+ve</option>
        <option >O-ve</option>
        <option >B+ve</option>
        <option >B+ve</option>
        <option >AB+ve</option>
        <option >AB-ve</option>
 
    </select>
      </div> 
      <div class="form-group">
        <label for="bloodGlucoseLevel"> bloodglucoselevel</label>
        <input type="text" class="form-control"  required [(ngModel)]="donor.bloodGlucoseLevel" name="bloodGlucoseLevel" #bloodGlucoseLevel="ngModel" [class.is-invalid]="bloodGlucoseLevel.invalid &&  bloodGlucoseLevel.touched">
        <small class="text-danger" [class.d-none]="bloodGlucoseLevel.valid || bloodGlucoseLevel.untouched"> bloodglucoselevel is required</small>
      </div>
      <div class="form-group">
        <label for="notes"> notes</label>
        <input type="text" class="form-control"  required [(ngModel)]="donor.notes" name="notes" #notes="ngModel" [class.is-invalid]="notes.invalid && notes.touched">
        <small class="text-danger" [class.d-none]="notes.valid || notes.untouched"> notes is required</small>
      </div>
     
      <button type="submit" class="btn btn-success" [disabled]="donorform.form.invalid">Submit</button>
    </form>
  </div> 
  
<div [hidden]="!submitted">
  <h4>You submitted successfully!{{donor.donorId}}</h4>
  <h4>Your Id is {{id}}</h4>
</div>