<div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="donorId">donorId</label>
        <input type="text" class="form-control" id="donorId" required [(ngModel)]="donorId" name="donorId">
      </div>
   
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
</div>
      <br/>
      <div>
          <table class="table table-striped">
              <thead>
                  <tr>
                   <th>Donor ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>BloodGroup</th>
                    <th>Status</th>
                  </tr>
                </thead>
          <tbody>
            <tr>
              <td>{{donor.donorId}}</td>
              <td>{{donor.firstName}}</td>
              <td>{{donor.lastName}}</td>
              <td>{{donor.bloodGroup}}</td>
              <td>{{donor.status}}</td>
            </tr>
          </tbody>
          </table>
          </div>
