<div [hidden]="submitted" >
  <form (ngSubmit)="login()" #adminform="ngForm">
    <div class="form-group">
      <label for="userName">userName</label>
      <input type="text" class="form-control"  required [(ngModel)]="admin.userName" name="userName" #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched">
      <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">username is required</small>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control"  required [(ngModel)]="admin.password" name="password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
      <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small>
    </div>
      <button type="submit" class="btn btn-success" [disabled]="adminform.form.invalid">Submit</button>
    </form>
  </div> 
  
<div [hidden]="!submitted">
  <h4>logged in successfully!</h4>
</div>