<div style="width: 300px;">
    <form (ngSubmit)="onSubmitBloodGroup()">
      <div class="form-group">
        <label for="bloodGroup">bloodGroup</label>
        <input type="text" class="form-control"  required [(ngModel)]="bloodGroup" name="bloodGroup">
      </div>
   
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
</div>
  <br/>
  <div>
      <table class="table table-striped">
          <thead>
              <tr>
               <th>Donor ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>BloodGroup</th>
                <th>Status</th>
              </tr>
            </thead>
      <tbody>
        <tr *ngFor="let donor of donors">
          <td>{{donor.donorId}}</td>
          <td>{{donor.firstName}}</td>
          <td>{{donor.lastName}}</td>
          <td>{{donor.bloodGroup}}</td>
          <td>{{donor.status}}</td>
        </tr>
      </tbody>
      </table>
      </div>
      