<h3>Requester Registration Form</h3>
<div [hidden]="submitted" >
  <form (ngSubmit)="onSubmit()" #requesterform="ngForm">
    <div class="form-group">
      <label for="patientName"> patientName</label>
      <input type="text" class="form-control"  required [(ngModel)]="requester.patientName" name="patientName" #patientName="ngModel" [class.is-invalid]="patientName.invalid && patientName.touched">
      <small class="text-danger" [class.d-none]="patientName.valid || patientName.untouched">patientName is required</small>
    </div>
      <div class="form-group">
        <label for="city">city</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.city" name="city" #city="ngModel" [class.is-invalid]="city.invalid && city.touched">
        <small class="text-danger" [class.d-none]="city.valid || city.untouched">city is required</small>
      </div>
      <div class="form-group">
        <label for="requiredBloodGroup">bloodgroup</label>
        <select id="requiredBloodGroup" name="requiredBloodGroup" required [(ngModel)]="requester.requiredBloodGroup"  #requiredBloodGroup="ngModel">
        <option >O+ve</option>
        <option >O-ve</option>
        <option >B+ve</option>
        <option >B+ve</option>
        <option >AB+ve</option>
        <option >AB-ve</option>
    </select>
      </div> 
      <div class="form-group">
        <label for="doctorName"> doctorName</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.doctorName" name="doctorName" #doctorName="ngModel" [class.is-invalid]="doctorName.invalid && doctorName.touched">
        <small class="text-danger" [class.d-none]="doctorName.valid || doctorName.untouched">doctorName is required</small>
      </div>
      <div class="form-group">
        <label for="hospitalName"> hospitalName</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.hospitalName" name="hospitalName" #hospitalName="ngModel" [class.is-invalid]="hospitalName.invalid && hospitalName.touched">
        <small class="text-danger" [class.d-none]="hospitalName.valid || hospitalName.untouched">hospitalName is required</small>
      </div>
      <div class="form-group">
        <label for="hospitalAddress"> hospitalAddress</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.hospitalAddress" name="hospitalAddress" #hospitalAddress="ngModel" [class.is-invalid]="hospitalAddress.invalid && hospitalAddress.touched">
        <small class="text-danger" [class.d-none]="hospitalAddress.valid || hospitalAddress.untouched">hospitalAddress is required</small>
      </div>
      <div class="form-group">
        <label for="requestedDate"> requestedDate</label>
        <input type="date" class="form-control"  required [(ngModel)]="requester.requestedDate" name="requestedDate" #requestedDate="ngModel" [class.is-invalid]="requestedDate.invalid && requestedDate.touched">
        <small class="text-danger" [class.d-none]="requestedDate.valid || requestedDate.untouched">requestedDate is required</small>
      </div>
      <div class="form-group">
        <label for="contactName"> contactName</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.contactName" name="contactName" #contactName="ngModel" [class.is-invalid]="contactName.invalid && contactName.touched">
        <small class="text-danger" [class.d-none]="contactName.valid || contactName.untouched">contactName is required</small>
      </div>
      <div class="form-group">
        <label for="contactNumber"> contactNumber</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.contactNumber" name="contactNumber" #contactNumber="ngModel" [class.is-invalid]="contactName.invalid && contactName.touched">
        <small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">contactNumber is required</small>
      </div>
      <div class="form-group">
        <label for="contactEmailId"> contactEmailId</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.contactEmailId" name="contactEmailId" #contactEmailId="ngModel" [class.is-invalid]="contactEmailId.invalid && contactEmailId.touched">
        <small class="text-danger" [class.d-none]="contactEmailId.valid || contactEmailId.untouched">contactEmailId is required</small>
      </div>
      <div class="form-group">
        <label for="message"> message</label>
        <input type="text" class="form-control"  required [(ngModel)]="requester.message" name="message" #message="ngModel" [class.is-invalid]="message.invalid && message.touched">
        <small class="text-danger" [class.d-none]="message.valid || message.untouched">message is required</small>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="requesterform.form.invalid">Submit</button>
    </form>
  </div> 
  
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <h4>Your Id is {{id}}</h4>
</div> 