

<div class="myImg" >
  <img class="img-responsive" src="assets/new4.jfif">

</div>
  <div style = "text-align:center">
  </div>
  <div style = "text-align:center">
    <button mat-raised-button><a routerLink="home" role="button"routerLinkActive="active">HOME</a></button>    

    <button mat-raised-button><a routerLink="donor" role="button"routerLinkActive="active">DONOR</a></button>
    <button mat-raised-button><a routerLink="requester" role="button" routerLinkActive="active">REQUESTER</a></button>
  </div>
  <router-outlet></router-outlet>


