<div *ngIf="donor">
    <div>
        <label>FirstName: </label> {{donor.firstName}}
    </div>
    <div>
        <label>LastName: </label> {{donor.lastName}}
    </div>
    <div>
        <label>City: </label> {{donor.city}}
    </div> 
    <div>
        <label>BloodGroup: </label> {{donor.bloodGroup}}
    </div>
    <button mat-raised-button><a class="button is-small btn-info" (click)="acceptDonor()">Accept</a></button>
    <button mat-raised-button><a class="button is-small btn-info" (click)="rejectDonor()">Reject</a></button>

    <hr/>
</div>