
<h2>Donor Services</h2> 
<div> 
  <img class="img-responsive" src="assets/donor.jfif">
  <button mat-raised-button><a routerLink="/dreg" role="button">DONOR REGISTER</a></button>
  <button mat-raised-button><a routerLink="/dstatus" role="button">DONOR STAUS</a></button>

</div> 



