

  <div> 
    <img class="img-responsive" src="assets/new8.jfif">
    <button mat-raised-button><a routerLink="/requesterApproval" role="button">REQUESTER APPROVALS</a></button>
    <button mat-raised-button><a routerLink="/donorApproval" role="button">DONOR APPROVALS</a></button>

  </div> 
   